body {
    margin: 0;
    padding: 0;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    width: 100%;
}

nav{

    padding: 20px;
    background-color: #192A50    ;
    width: 100%;
    height: 130px;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    overflow: hidden;
}

nav .name {

display: inline-block;
display: flex;
font-size: 40px;
color: #C2D2D0;
align-items: center;
float: left;
margin-bottom: 10px;
padding: 30px;
}


nav ul {
 list-style: none;
 display: flex;

}

nav ul li {
 
 display: inline-block;
 margin-right: 30px;
 font-weight: 80;
 font-size: 20px;

}

nav a {

  text-decoration: none;
  padding: 0px 10px;
  color: #63919B;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;

}

nav a:hover {

  color: #C2D2D0;
  text-decoration: none;
  background-color: #1D4C54;
  
}

.banner{

  position: relative;
  text-align: center;
  color: black;
}

.banner-image{

  width: 100%;
  display: block;}

.banner-text {
  font-size: 60px;
  font-weight: 600;
  color: #C2D2D0;
  background-color: #192A50  ;
  text-align: right;
  position: absolute;
  bottom: 60px;
  right: 20px;
}


main{
  margin: 40px;

}

.about {

display: inline-block;
margin-bottom: 20px;
}

.about h2{
  font-size: 40px;
  color: #1D4C54;
  border-right: 4px solid ;
  height: 250px;
  position:relative;
  margin: 20px;
  float: left;
}

.about p{

margin-left: 40px;

}

.work{

  display: flex;
  flex: 1 0 0;
  flex-wrap: wrap;
  height: 150px;
  width: 897px;

}

.work h2{

  font-size: 40px;
  margin: 20px;
  float: left;
  text-align: left;
  color: #1D4C54
  
}

.card{
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      padding: 20px;
      margin-bottom: 20px;
    }

    .card img {
      max-width: 100%;
      height: auto;}

footer{
  
width: 100%;
display: inline-block;
position: relative;
padding: 30px;
margin-top: 1100px;

}

footer h2 {

  font-size: 40px;
  float: left;
  margin: 20ps;
  color: #1D4C54  ;
  text-align: left;
  
}

footer ul {

  float: right;
  text-align: right;
  justify-content: space-evenly;
  

}

footer ul li {

  display: inline-block;
  margin: 20px;
  font-weight: 200;
  font-size: 18px;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

footer a {

  text-decoration: none;
  color: #1D4C54;

}

footer a:hover{

  background-color: #63919B;
  text-decoration-line: underline;

}



@media only screen and (max-width: 768px) {

  nav{
    
    flex-direction: column;
    text-align: center;
  }
  
  nav .name {

    margin: -20px;
  }
  
  nav ul li {
    display: block;
    margin: 0;
    margin-bottom: 15px;
  } }

@media only screen and (max-width: 600px) {
    .footer {
        width: 100%;
        margin-bottom: 20px;
    }
}
    